.grid {
    max-width: 1220px;
    margin: 0 auto;
    offset: 20px;
}

.grid__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 20px;
        margin-right: -10px;
        margin-left: -10px;
    }
    
.grid__col {
    padding: 10px;
}

.grid__col-12 {
    width: 100%;
}

.grid__col-4 { /* þarf að bæta við @media */
    width: 33%;
}
