@import "config";

.header {
    position: relative;
    margin-bottom: $gutter;
    width: 100%;
    height: 50vh;

    &--index {
        background: url(../img/header.jpg);
        background-size: cover;
    }

    &--lecture {
        background: url(../img/code.jpg);
        background-size: cover;
    }


    &__box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: white;
    }

    &__content {
        margin: ($gutter * 2) auto;
    }

    &__title1 {
        margin: auto;
        text-align: center;
        font-family: 'Courier New', Courier, monospace; //breyta hér */
        font-size: 3em;
    }

    &__title2 {
        margin: auto;
        text-align: center;
        font-family: 'Courier New', Courier, monospace; //breyta hér */ 
        font-size: 1em;
    }
}